<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from ::1
Options +FollowSymLinks
